body{
	background-color: #292828;
  /*font-family: 'Spectral', serif;*/
  /*border: 1px solid #03C7F9;*/
}

#header-nav {
  background-color: #000000;
  border-radius: 0;
  border: 1px solid #03C7F9;
  height: 80px;
  /*border-color: #03C7F9;*/
}

#tile {
	color: #ffffff;
  font-size: 1.2em;
  margin-top: 10px;
}
#tile p{
  color: #03C7F9;
  border: 2px solid #03C7F9;
  padding: 4px;
  border-radius: 5px;
}

#tile p:hover{
  background-color: #03C7F9;
  color: #000000;
}

#logo-img {
  background: url('../Images/logo-large.png') no-repeat;
  width: 60px;
  height: 60px;
  margin: 10px 10px;
 }

 #text {
  margin-left: 50px;
  color: #03C7F9;
  font-size: 1.5em;
 }

 .name {
  color: #ffffff;
  font-size: 4em;
 }

.GetInTouch{
  width: 200px;
  text-align: center;
}